@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Manrope";
  font-size: clamp(12px, 1.2vw, 16px);
}

@theme {
  /* --color-*: initial; */
  --color-light-cream: #fafafa;
  --color-white: #ffffff;
  --color-cream: #f1f1f1;
  --color-light-orange: #121063;
  --color-black: #101010;
  --color-orange: #d87d4a;

  --font-manrope: "Manrope", sans-serif;
}
